// 存放变量
$font_size_14:14px;
$font_size_16:16px;
$font_size_18:18px;
$font_size_20:20px;
$font_size_22:22px;
$font_size_24:24px;
$font_size_26:26px;
$font_size_28:28px;
$font_size_30:30px;
$font_size_32:32px;
$font_size_34:34px;
$font_size_36:36px;
$font_size_38:38px;
$font_size_40:40px;
$font_size_42:42px;
$font_size_44:44px;
$font_size_46:46px;
$font_size_48:48px;
$font_size_50:50px;